<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <title>后台管理</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="max-age=7200" />
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="后台管理"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--<link href="../css/all.css" rel="stylesheet" type="text/css">-->


</head>
<body>
<div id="entry"></div>
<script src="../assets/index.bundle.js"></script>
<!--<script src="../js/browsercheck.js"></script>
<script type="text/javascript">
    browsrcheck("index.bundle.js");
</script>-->
</body>
    <link href="../css/main.css" rel="stylesheet" type="text/css"/>
    <link href="../css/myCustom.css" rel="stylesheet" type="text/css"/>
    <link href="../css/index.css" rel="stylesheet" type="text/css"/>
    <!--<link href="../css/all.css" rel="stylesheet" type="text/css">-->
</html>