.file-box {
    position: relative;
    display: inline-block;
}
.file-box img {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    position: absolute;
    top: -30px;
    left: 0;
    display: inline-block;
    border: none;
}
.file-box .txt,.file-box .file {
    width: 70px;
    height: 36px;
    position: absolute;
    top: -20px;
    left: 100px;
    text-align: center;
}